@charset "UTF-8";

body{
	width:90%;
	margin : 0 auto;
	margin-top: 5%;
	margin-bottom: 8%;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:95%;
    margin:2%;
}
.box2{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:95%;
}

.setBorder{
	border: 0.5px solid black;
	width: 95%;
    margin: 2%;
}

#page3, #page4{
	width: 50%;
	margin : 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
   
}
.page4{	
    margin: 3%;
}

.compare{
	position: relative;
/*     width: 810px;
    padding-left: 160px; */
    box-sizing: border-box
}

tbody{
	display: table-row-group;
    vertical-align: middle;
}
thead{
	display: table-header-group;
    vertical-align: middle;
}

table{
	width:95%;
	display: table;
	box-sizing: border-box;
	text-indent: inherit;
	border: 0.3px solid;
	margin:2%;
}



.tdright{
	text-align: start
}

.fs12{
	    font-size: 12px !important;
}

.rows{
	width: 20%;
	text-align: center;
}

tr {
	border: 0.3px solid black;
}

.payMoney{
	text-align: center;
}

.page1{
	text-align: center;
}
.sub{
	margin: 2%;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn_wrap ,.divcenter{
	text-align: center;
}

.wrap{
	padding: 2%;
	border: 0.5px solid black;
	width: 95%;
}
.txtcenter{
	text-align: center;
}

.agreephone{
	padding: 0% 0% 0% 2%
}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top;padding: 2%;}
